body{
	font-family: 'Montserrat', sans-serif;
	background-color: #5e42a5;
	font-size: 14px;
	color: #f2f2f2;
	padding: 30px;
}
h2, h3{
	font-weight: normal;
}
h3{
	position: relative;
	float: left;
	width: 100%;
}
label{
	clear: both;
	position: relative;
	float: left;
	width: 100%;
	margin: 15px 5px;
}
input{
	position: relative;
	float: left;
	width: 400px;
	padding: 15px;
	border-radius: 15px;
	font-size: 1rem;
	border: none;
	color: #5e42a5;
}
button{
	position: relative;
	float: left;
	clear: both;
	height: 50px;
	width: 100px;
	border-radius: 15px;
	background-color: #32254f;
	border: none;
	color: #f2f2f2;
	margin-top: 5px;
	cursor: pointer;
}
#conteudo{
	position:relative;
	float:left;
	width: 100%;
}