body{
	font-family: 'Montserrat', sans-serif;
	background-color: #5e42a5;
	font-size: 14px;
	color: #f2f2f2;
	padding: 30px;
}
/* Grid */
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 50px;
}
/* 1 */
.grid-row-1 .item-1 {
	grid-row: 3;
}
.grid-row-1 .item-3 {
	grid-row: 1;
}
/* 2 */
.grid-row-2 .item-1 {
	grid-row: 1 / 4;
}
.grid-row-2 .item-5 {
	grid-row: span 3;
}
.grid-row-2 .item-6 {
	grid-row: span 2;
}
/* 3 */
.grid-row-3 .item-2 {
	grid-row: 1 / 3;
}
.grid-row-3 .item-4 {
	grid-row-start: 1;
	grid-row-end: 3;
}
.grid-row-3 .item-1 {
	grid-row-start: 2;
	grid-row-end: 4;
}
/* 4 */
.grid-row-4 {
	grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr;
}
.grid-row-4 .item-2 {
	grid-row: row1 / row3;
}
.grid-row-4 .item-4 {
	grid-row: row1 / 4;
}
/* 5 */
.grid-row-5 {
	grid-template-areas:
		"header header header"
		"sidenav content ads"
		"sidenav footer footer"
	;
}
.grid-row-5 .item-1 {
	grid-column: span 3;
	grid-row-start: header;
	grid-row-end: header;
}
.grid-row-5 .item-2 {
	grid-column: 1;
	grid-row-start: sidenav;
	grid-row-end: sidenav;
}
.grid-row-5 .item-3 {
	grid-row: content / content;
}
.grid-row-5 .item-4 {
	grid-row-start: ads;
}
.grid-row-5 .item-5 {
	grid-row: footer;
	grid-column: span 2;
}
/* Grid Item */
.item {
	margin: 5px;
	background: #aa88ff;
	text-align: center;
	font-size: 1.5em;
}
.grid {
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid #aa88ff;
}
h1{
	text-align:center;
}
h2 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}