body{
	font-family: 'Montserrat', sans-serif;
	background-color: #5e42a5;
	font-size: 14px;
	color: #f2f2f2;
	padding: 30px;
}
a{
	color: #f2f2f2;
}
.container{
	padding: 50px;
	background-color: #aa88ff;
	text-align: center;
	border-radius: 15px;
}
.box{
	border: 2px solid #32254f;
	margin: 20px;
	border-radius: 15px;
	padding: 15px;
}
.box-1{
	margin: 50px;
}
.box-2{
	margin: 50px 0px 50px 0px;
}
.box-3{
	margin-bottom: 50px;
}
.box-4{
	margin-left: 50px;
}
.box-5{
	margin-right: 50px;
}