.CodeMirror-hscrollbar {
  height: 8px; }

.CodeMirror {
  font-family: "FiraCode-Regular", serif;
  height: 100%;
  font-size: 1.1rem;
  box-shadow: 5px 5px 3px 0px rgba(60, 45, 107, 0.44); }

.CodeMirror-linenumber {
  color: #f2f2f2 !important;
  background-color: #32254f !important; }

.cm-s-dracula.CodeMirror {
  background-color: #32254f !important;
  border-radius: 0px 15px 15px 15px;
  padding: 15px; }

.cm-s-dracula.CodeMirror-gutters {
  background-color: #483382; }

.float-btn {
  position: fixed;
  top: 10px;
  right: 80px;
  width: 150px;
  font-family: "FiraCode-Regular", serif;
  background-color: #32254f;
  color: #f2f2f2;
  font-size: 1rem;
  border: none;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
  border-radius: 15px 15px 0 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transform: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  box-shadow: 5px 5px 3px 0px rgba(60, 45, 107, 0.44); }
  .float-btn:hover {
    background-color: #2c2048 !important; }
