@import '../../styles/imports/_imports.scss';

// CodeMirror

.CodeMirror-hscrollbar {
	height: 8px;
}

.CodeMirror {
    font-family: $font-primary;
    height: 100%;
	font-size: 1.1rem;
	box-shadow: 5px 5px 3px 0px rgba(60, 45, 107, 0.44);
}

.CodeMirror-linenumber {
    color: $color-white!important;
    background-color: $color-1!important;
}

.cm-s-dracula{
    &.CodeMirror{
        background-color: $color-1!important;
        border-radius: 0px 15px 15px 15px;
		padding: 15px;
    }
    &.CodeMirror-gutters {
        background-color: $color-2;
    }
}

// Floating Button

.float-btn{
	position: fixed;
	top: 10px;
	right: 80px;
	width: 150px;
	font-family: $font-primary;
	background-color: $color-1;
	color: $color-white;
	font-size: 1rem;
	border: none;
	height: 40px;
	border-radius: 15px;
	cursor: pointer;
	border-radius: 15px 15px 0 0;
	@include transition(.2s);
	box-shadow: 5px 5px 3px 0px rgba(60, 45, 107, 0.44);
	&:hover{
		background-color: $color-4!important;
	}
}