@import '../../assets/styles/imports/_imports.scss';

// Scroll

::-webkit-scrollbar {
	width: 8px;
	background-color: rgb(51, 38, 78);
}

::-webkit-scrollbar-thumb {
	width: 8px;
	box-shadow: 0 0 0 12px rgb(39, 28, 62) inset;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:focus {
	box-shadow: 0 0 0 12px rgb(93, 66, 164) inset;
}
::-webkit-scrollbar-thumb:active {
	box-shadow: 0 0 0 12px rgb(93, 66, 164) inset;
}

.CodeMirror-hscrollbar {
	height: 8px;
}

// CodeMirror Adjustments

.CodeMirror {
    font-family: $font-primary;
    height: 100%;
	font-size: 1.1rem;
	box-shadow: 5px 5px 3px 0px rgba(60, 45, 107, 0.44);
}

.CodeMirror-linenumber {
    color: $color-white!important;
    background-color: $color-1!important;
}

.cm-s-dracula{
    &.CodeMirror{
        background-color: $color-1!important;
        border-radius: 0px 15px 15px 15px;
		padding: 15px;
    }
    &.CodeMirror-gutters {
        background-color: $color-2;
    }
}

// Editors Adjustments

.editors{
	display: flex;
	height: 50vh;
	padding: 10px;
    .container-editor{
		flex: 1;
		height: calc(50vh - 20px);
		width: 20vw;
		.tabs{
			position:relative;
			float: left;
			width: 100%;
			.tab-name{
				position: relative;
				float: left;
				font-size: 1.1rem;
				color: $color-white;
				margin: 0;
				padding: 0;
				background-color: $color-1;
				width: 150px;
				height: 35px;
				line-height: 37px;
				text-align: center;
				border-radius: 15px 15px 0px 0px;
				box-shadow: 5px 5px 3px 0px rgba(60, 45, 107, 0.44);
			}
			.tab-expand, .tab-close{
				position: relative;
				float: left;
				left: 10px;
				font-size: 1rem;
				color: $color-white;
				margin: 0;
				padding: 0;
				background-color: $color-1;
				width: 80px;
				top: 5px;
				height: 30px;
				line-height: 37px;
				text-align: center;
				border-radius: 15px 15px 0px 0px;
				box-shadow: 5px 5px 3px 0px rgba(60, 45, 107, 0.44);
				cursor:pointer;
				@include transition(.2s);
				&:hover{
					background-color: $color-4!important;
				}
			}
			.tab-close{
				left: 20px;
			}
		}
        .ReactCodeMirror{
			height: calc(50vh - 55px);
        }
    }
}

// Floating Button

.floatBtn{
	position: fixed;
	top: 10px;
	right: 10px;
	width: 150px;
	font-family: $font-primary;
	background-color: $color-1;
	color: $color-white;
	font-size: 1rem;
	border: none;
	height: 30px;
	border-radius: 15px;
	cursor: pointer;
	@include transition(.2s);
	box-shadow: 5px 5px 3px 0px rgba(60, 45, 107, 0.44);
	&:hover{
		background-color: $color-4!important;
	}
}