body{
	font-family: 'Montserrat', sans-serif;
	background-color: #5e42a5;
	font-size: 14px;
	color: #f2f2f2;
	padding: 30px;
}
a{
	color: #f2f2f2;
}
.container{
	padding: 50px;
	background-color: #aa88ff;
	border-radius: 15px;
}
.container div{
	padding: 30px;
	border: 2px solid #32254f;
	text-align: center;
	border-radius: 15px;
	color: #32254f;
	font-size: 1.3em;
}
.container div:hover{
	background-color: #f2f2f2;
	color: #32254f;
	cursor: pointer;
}