/// dctb-sass
/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Sizes
// Set the project sizes here

$size-base: 14px;
$size-normal: 1em;

$size-s5: 0.5em;
$size-s4: 0.8em;
$size-s3: 1.8em;
$size-s2: 2.8em;
$size-s1: 3.8em;
$size-s0: 4.8em;

$size-media-s1 : 1200px;
$size-media-s2 : 992px;
$size-media-s3 : 768px;
$size-media-s4 : 480px;
$size-media-s5 : 320px;