/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Colors
// Set the project colors here

$color-1: #32254f;
$color-2: #483382;
$color-3: #5e42a5;
$color-4: #2c2048;
$color-white: #f2f2f2;