/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Colors
// Set the project colors here

$color-light: #F2E9E4;
$color-light-pink: #C9ADA7;
$color-light-purple: #9A8C98;
$color-purple: #4A4E69;
$color-dark-purple: #22223B;