/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Fonts
// Set the project fonts styles here

$font-primary     : 'TrajanPro-Regular', serif;
$font-secondary   : 'AfterMidnite', sans-serif;
$font-tertiary    : 'Montserrat', sans-serif;