/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Shared
// Shared Configurations used in all pages

*{
  outline: none;
}

html{
  font-size: $size-base;
}

body{
  font-size: $size-base;
  font-family: $font-primary;
  background-color: $color-2;
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  @include border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

// Forms Reset IOS

input, textarea, select{
  -webkit-appearance: none;
  border-radius: 0px;
}

//Generals

*{
	outline: none!important;
}