.editors {
  display: flex;
  height: 50vh;
  padding: 10px; }
  .editors .container-editor {
    flex: 1;
    height: calc(50vh - 20px);
    width: 20vw; }
    .editors .container-editor .tabs {
      position: relative;
      float: left;
      width: 100%; }
      .editors .container-editor .tabs .tab-name {
        position: relative;
        float: left;
        font-size: 1rem;
        color: #f2f2f2;
        margin: 0;
        padding: 0;
        background-color: #32254f;
        width: 100px;
        height: 35px;
        line-height: 37px;
        text-align: center;
        border-radius: 15px 15px 0px 0px;
        box-shadow: 5px 5px 3px 0px rgba(60, 45, 107, 0.44); }
      .editors .container-editor .tabs .tab-expand, .editors .container-editor .tabs .tab-close, .editors .container-editor .tabs .tab-run {
        text-transform: uppercase;
        position: relative;
        float: left;
        left: 5px;
        font-size: 0.8rem;
        color: #f2f2f2;
        margin: 0;
        padding: 0;
        background-color: #32254f;
        width: 60px;
        top: 5px;
        height: 30px;
        line-height: 37px;
        text-align: center;
        border-radius: 15px 15px 0px 0px;
        box-shadow: 5px 5px 3px 0px rgba(60, 45, 107, 0.44);
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transform: all 0.2s ease-in-out 0s;
        -ms-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s; }
        .editors .container-editor .tabs .tab-expand:hover, .editors .container-editor .tabs .tab-close:hover, .editors .container-editor .tabs .tab-run:hover {
          background-color: #2c2048 !important; }
      .editors .container-editor .tabs .tab-close {
        left: 10px; }
      .editors .container-editor .tabs .tab-run {
        left: 15px; }
    .editors .container-editor .ReactCodeMirror {
      height: calc(50vh - 55px); }
