@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: "FiraCode-Regular";
  src: url("https://diogocezar.github.io/sandybox/assets/fonts/FiraCode-Regular.woff2") format("woff2"), url("https://diogocezar.github.io/sandybox/assets/fonts/FiraCode-Regular.woff") format("woff"), url("https://diogocezar.github.io/sandybox/assets/fonts/FiraCode-Regular.eot?") format("eot"), url("https://diogocezar.github.io/sandybox/assets/fonts/FiraCode-Regular.ttf") format("truetype"); }

* {
  outline: none; }

html {
  font-size: 14px; }

body {
  font-size: 14px;
  font-family: "FiraCode-Regular", serif;
  background-color: #483382;
  margin: 0;
  padding: 0; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

input, textarea, select {
  -webkit-appearance: none;
  border-radius: 0px; }

* {
  outline: none !important; }

::-webkit-scrollbar {
  width: 8px;
  background-color: #33264e; }

::-webkit-scrollbar-thumb {
  width: 8px;
  box-shadow: 0 0 0 12px #271c3e inset; }

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:focus {
  box-shadow: 0 0 0 12px #5d42a4 inset; }

::-webkit-scrollbar-thumb:active {
  box-shadow: 0 0 0 12px #5d42a4 inset; }
