@import '../../assets/styles/imports/_imports.scss';

.container-preview{
	padding: 10px;
	height: 50vh;
	h1{
		font-size: 1.1rem;
		color: $color-white;
		margin: 0;
		padding: 0;
		background-color: $color-1;
		width: 250px;
		height: 35px;
		line-height: 45px;
		text-align: center;
		border-radius: 15px 15px 0px 0px;
	}
	iframe {
		padding: 10px;
		width: 100%;
		height: calc(50vh - 50px);
		border: none;
		background-color: $color-1;
		border-radius: 0px 15px 15px 15px;
	}
}