body{
	font-family: 'Montserrat', sans-serif;
	background-color: #5e42a5;
	font-size: 14px;
	color: #f2f2f2;
	padding: 30px;
}
a{
	color: #f2f2f2;
}
.container{
	padding: 50px;
	background-color: #aa88ff;
	border-radius: 15px;
}
.box{
	border: 1px solid black;
	margin: 20px;
	height: 230px;
	width: 350px;
	background-image: url('https://source.unsplash.com/random/350x230');
}
.box-1{
	width: 50vw;
}
.box-2{
	width: 50vw;
	height: 50vh;
	background-repeat: no-repeat;
}
.box-3{
	width: 50vw;
	height: 50vh;
	background-size: cover;
}