body{
	font-family: 'Montserrat', sans-serif;
	background-color: #5e42a5;
	font-size: 14px;
	color: #f2f2f2;
	padding: 30px;
}
a{
	color: #f2f2f2;
}
.block-example{
	display: block;
	padding: 20px;
	background-color: #aa88ff;
}
strong{
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	background-color: purple;
}
span{
	display: inline;
	margin-top: 30px; /* não possui efeito */
	margin-left: 20px;
	margin-right: 20px;
	background-color: #f2f2f2;
	color: purple;
}