@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: "FiraCode-Regular";
  src: url("../fonts/FiraCode-Regular.woff2") format("woff2"), url("../fonts/FiraCode-Regular.woff") format("woff"), url("../fonts/FiraCode-Regular.eot?") format("eot"), url("../fonts/FiraCode-Regular.ttf") format("truetype"); }

* {
  outline: none; }

html {
  font-size: 14px; }

body {
  font-size: 14px;
  font-family: "FiraCode-Regular", serif;
  background-color: #483382;
  margin: 0;
  padding: 0; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

input, textarea, select {
  -webkit-appearance: none;
  border-radius: 0px; }

* {
  outline: none !important; }
